/*16:10 3840×2400 16:9 3840×2160 16:9 1920×1080 9:16 1080×1920 1:1 2048×2048*/
.size {
  background-color: pink;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.size iframe {
  position: absolute;
}

.mobile {
  width: 1080px;
  height: 1920px;
  transform: scale(0.2);
  transform-origin: top left;
}
.size:has(.mobile) {
  width: calc(1080px * 0.2);
  height: calc(1920px * 0.2);
}

.desktop {
  width: 2560px;
  height: 1440px;
  scale: 0.2;
  transform-origin: top left;
}
.size:has(.desktop) {
  width: calc(2560px * 0.2);
  height: calc(1440px * 0.2);
}
